*{
    box-sizing: border-box;
}
.contenppal{
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    padding: 30px;
}
.sub1{
    display: grid;
    padding: 10px;
    gap: 10px;
    grid-template-columns: 2fr 1fr;
    padding-left: 25px;
    padding-right: 25px;
    
}

.sub2{
    display: grid;
    padding: 10px;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

}

.Imagen1{
    grid-row:1 / 3 ;
    height: 500px;
    background-size: cover;
    background-image: url("ian-dooley-FoF0w-d6Z74-unsplash.jpg"); 


}
.Imagen2{
    
    background-size: cover;
    background-image: url("ian-dooley-7m0OJhmjqYg-unsplash.jpg");
    
}

.Imagen3{
    background-size: cover;
    background-image: url("ian-dooley-rBkihK3n_YI-unsplash.jpg");
}

.Imagen11{
    grid-column:1 / 3 ;
    background-image: url("ian-dooley-G561123Tmk-unplash.png");
    background-size: cover;
}

.Imagen22{
    background-size: cover;
    background-image: url("ian-dooley-J986543kUi-unplash.jpg");

}

.Imagen33{
    grid-row: 1 / 3;
    grid-column:  4 / 5;
    background-image: url("ian-dooley-cA567hK3n_YI-unsplash.png");
    background-size: cover;
}

.Imagen44{
    grid-column: 1 / 2;
    background-image: url("ian-dooley-456Lil1T55-unsplash.png");
    background-size: cover;
}

.Imagen55{
    grid-column: 2 / 4;
    background-image: url("ian-dooley-ru1g3425_Hl-unsplash.png");
    background-size: cover;
}

.Textos{
    margin-top: 300px;
    padding-left: 80px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    

}

h1{
    color: chocolate;
}

h2{
    color: chocolate;
    
}

p{
    color: ghostwhite;
}